html, body, .container, .container > div, .container  div.row.col-xs-12 {
	height: 100%!important;
	min-height: 100%;
}
body{
	position: fixed;
	width: 100%;
	margin: 10px;
	padding : 1em;
}

.fc-scroller{
	height: inherit;
}

 div.row.col-xs-12 {
 	/*display: table;*/
 }


.container>div{
	border: none;
}

.header{
	padding:5px;
}

.avatar{
	height: 4em;
    width: 4em;
    border: solid;
    border-width: 1px;
    border-radius: 83px;
    padding: 4px;
    margin-left:2em;
}

.row, .col{
	border:solid;
	border-width: 1px;
}

table.calendar th{
	width: 	10%;
}

table.calendar td{
	width: 	90%;
}

.sidebar table{
	height: 	100%;
	width: 	100%
}

.sidebar table .first {
		height: 	50%;
}

.sidebar .second {
		height: 	5%;
}

.sidebar .third {
		height: 	45%;
}

.sidebar tr{
	border:solid;
	border-width: 1px;
}

.sidebar {
	padding: 	0px;
}

table td {
	padding-left: 10px;
}

.chooseday{
	    width: 30px !important;
    height: 30px !important;
}

button, svg[type="button"]{
	cursor: pointer;
}

@media(max-width: 768px){
	.today{
		width: 	100%;
	}
	.avatar-container{
		width: 	100%;
	}
.fc .fc-button-group>* {

	font-size: 0.8em;
}
h2{
	font-size: 1em;
}
.fc span { 
   font-size: 2.5em!important;
}

.fc-day-header{
	    overflow: hidden;
}

.fc-day-grid, .fc-day-grid> div {
height: 100px;
	
}
}