svg {
	perspective: 740px;
}

@keyframes ciuffo {
	0% {
		height: 2%;
	}

	100% {
		height: 6%;
	}
}

#gesu_ciuffo.animate,#gesu_ciuffo.animate-over {
	  animation-name : ciuffo;
  animation-duration : 0.2s;
  animation-iteration-count : 1;
  animation-direction  : alternate;
  animation-fill-mode : farwards;
}

#gesu_ciuffo.animate-over{
	animation-iteration-count : 10;
}

#gesu_ciuffo:hover {
	height: 8%;
	transition: height 5s;
	transition-duration: 5s !important;
}

#h1_mazza {
	transform-origin: 0% 100%;
}

#h1_guanto {
	transform-origin: 0% 0%;
}