
    .navbar-nav {
    padding-top: 23px;
}
   .nav>li>a {
    padding: 10px 8px;
    font-size: 12px;
}
    .photo img {
    max-height: 198px;
}
    .col-md-2 .photo img {
    max-height: 105px;
    margin: auto;
}
    .btn-add a {
        max-width: 220px;
    }
    .genere .col-md-2 .fa {
        display: none;
    }

@media (min-width: 768px) and (max-width: 991px) {
  nav .col-md-3 {width: 25%;float: left;display: inline-block;}
  nav .col-md-6 {width: 50%;float: left;display: inline-block;}
    .isearch {padding: 13px 0 13px 130px;font-size: 10px;}
    .navbar-nav > li:nth-child(2) {display: none;}
    .navbar .btn-group.bootstrap-select {display: none;}
    .isearch {
        padding: 12px 0 11px 20px;
        font-size: 12px;
    }
}


@media (max-width: 991px){
     .hide-until-tablet {display: none; visibility: hidden;}
    #homepageslide {
        margin-top: 19px;
        margin-bottom: 14px;
    }
    .row {margin: 0;}
    #main .col-md-3, footer .col-md-3 {
        width: 25%;
        float: left;
    }
    .genere .col-md-2 {
        width: 25%;float: left;display: inline-block;
    }
    .scheda-libro .contententimg img {
            margin: 0 auto 20px;
            display: block;
    }
     .scheda-libro .buttons-cartolibrerie .col-md-6:nth-child(2){
        margin-top: 40px;
    }
    .account .form-group.row {
        margin: 10px 0;
    }
}
@media (max-width: 767px) {
    
    #main .col-md-3, footer .col-md-3 {
        width: 50%;
        float: left;
    }
    .photo img {
            max-height: 179px;
            margin: auto;
        }
    .col-md-2 .photo img {
    max-height: 215px;
    margin: auto;
}
    .carousel-indicators {display: none;}
    .bg_res {display: block;}
    .navbar-inverse .navbar-collapse {
    border-top: 2px solid #fff;
    position: absolute;
    background: #334263;
    width: 100%;
    z-index: 9;
    top: 53px;
    padding: 0;
}
    .nav.navbar-nav {float: none;padding: 0;
    text-align: center;}
  .superlogo {
    max-width: 135px;
    margin-top: -7px;
}
    .navbar .col-md-6 {padding: 0;}
    .bootstrap-select, .search_go {top: 9px;}
    .isearch {
        margin-top: 9px;}
    .navbar-inverse {    height: 54px;}
    .genere .col-md-2 {
        width: 50%;
    }
    .scheda-libro .contententimg img {
            margin: 15px auto 20px;
    }
}
@media (min-width: 415px) and (max-width: 768px) {
    #main .venduti .col-md-9.titolo {width: 75%;float: left;display: inline-block;}
    #main .venduti .col-md-3.frecce {width: 25%;float: left;display: inline-block;}
    #main .venduti .carousel-inner .col-md-3 {width: 25%;float: left;display: inline-block;}
}
@media (max-width: 414px) {
    #main .col-md-3, footer .col-md-3 {
        width: 100%;
        float: none;
            margin-bottom: 30px;
    }
    .venduti {
        display: none;
    }
    #main .col-md-3 img {
       max-height: inherit;
        
    }
    .info h5 {
        font-size: 24px;
        text-align: center;
        margin: 15px;
    }
    .price-text-color.text-left {text-align: center;}
    .genere .col-md-2 {
        width: 100%;
    }
    .genere .col-md-2 .photo img {
    max-height: 395px;
}
    .btn-add.button-actions a{width: 100%;display: block;max-width: 100%;}
}
@media (max-width: 375px) {
    .navbar .btn-group.bootstrap-select {display: none;}
    .isearch {
    padding: 10px 0 10px 20px;
    }
}